<div class="panel panel-primary">
  <div class="panel-heading">Interview</div>
  <div class="panel-body">
    <div class="table-responsive">
      
        <table class="table table-hover" >
            
            <tr >
              <th>Interview</th>
              <th>Interviewer</th>
              <th>Date</th>
              <th>Result</th>
            </tr>
          
            <tr *ngFor="let ob of interview_list_data[main_key].short_list[short_key].interviews">
              <td >{{ob.interview}}</td>
              <td>{{ob.interviewer}}</td>
              <td>{{ob.date}}</td>
              <td>{{ob.result}}</td>
            </tr>

          </table>
       
    </div>
  </div>
</div>