<div class="panel panel-primary">
  <div class="panel-heading">Short List</div>
  <div class="panel-body">
    <div class="table-reponsive">
        <table class="table table-hover">
            <tr>
              <th>Name</th>
              <th>Works</th>
              <th>Exp</th>
              <th>Ctc</th>
            </tr>
          
            <tr *ngFor=" let ob of short_list_data[main_key].short_list;let i=index">
              <td (click)="serach(i)">{{ob.name}}</td>
              <td (click)="serach(i)">{{ob.work_at}}</td>
              <td (click)="serach(i)">{{ob.exp}}</td>
              <td (click)="serach(i)">{{ob.ctc}}</td>
              </tr>   
        
          </table>
    </div>
      
</div>
</div>

